<!doctype html>
<html lang="{{ site:short_locale }}" class="light">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>

        {{ vite src="resources/js/index.js|resources/css/site.css" }}
    </head>
    <body class="antialiased font-default bg-midnight-900">
        {{ template_content }}

        {{ stack:popovers }}
        {{ stack:scripts }}

        <script type="module">
            Alpine.start();
        </script>
    </body>
</html>
